<section class="check-in-container mt-1">
  <section class="search border-red-500 border-3">
    <check-in-search></check-in-search>
  </section>
  <section class="products border-orange-500 border-3">
    <check-in-products></check-in-products>
  </section>
  <section class="categories border-primary-500 border-3">categories</section>
  <section class="cart border-yellow-500 border-3">cart</section>
  <section class="taxes border-pink-500 border-3">sub total</section>
  <section class="total border-indigo-500 border-3">total</section>
</section>